node_modules/
bun.lockb
package-lock.json
yarn.lock
.env
.env.local
.env.development
.env.production

logs/
*.log
npm-debug.log*

dist/
build/
.cache/
.vite/


backend/data

frontend/node_modules/
frontend/dist/
frontend/.next/

.vscode/